<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/add">Add New Message</a><br />
<table>
    <tr>
        <th>Content</th>
        <th>Date</th>
        <th>Sent By</th>
        <td>Actions</td>
        <tr />
    <tr th:each="message : ${messages}">
        <td th:text="${message.content}"></td>
        <td th:text="${message.date}"></td>
        <td th:text="${message.sentby}"></td>
        <td>
            <a href="@{/update/{id}(id=${message.id})}">Update</a> -
            <a href="@{/update/{id}(id=${message.id})}"></a> Details
        </td>
    </tr>
</table>
</body>
</html>